<!DOCTYPE html>
<html xmlns:th="http://www.thymelead.org">
<head>
<meta charset="UTF-8">
<title>Welcome Register</title>
<link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div class="text-center container">
<div  >
<h1 class="text-center">Welcome to Register</h1>
</div>
<div>
<!-- <h3><a th:href="@{/list_users}">List All Users</a></h3> -->
<h3 class="text-center"><a th:href="@{/register}">Register</a></h3>
<!-- <h3><a th:href="@{/login}">Login</a></h3>  -->
</div>


</div>
</body>
</html>