<!DOCTYPE html>
<html xmlns:th="http://www.thymelead.org">
<head>
<meta charset="UTF-8">
<title>Registration - CodeJava</title>
<link th:href="@{/css/index.css}" rel="stylesheet" type="text/css">
<link rel="stylesheet"  type="text/css"  href="/webjars/bootstrap/css/boostrap.min.css" />
</head>
<body>
	<div class="container text-center">
	
		<div>
			<h1>User Registration - Sign Up</h1>
		</div>
		
		<form th:action="@{/process_register}" method="post" style="max-width: 600px;" th:object="${user}" >
	 	
			<table >
			
					<tr class="input_area">	
						<td><label class="label">Id</label>	</td>		
						<td><input type="text" size="30" th:field="*{id}" required minlength="3" maxlength="20"/></td>
					</tr>
					
					<tr class="input_area">
						<td>
							<label class="label">Email</label></td>
						<td><input type="email" size="30" th:field="*{email}" required/></td>
					</tr>
					
					<tr class="input_area">	
						<td><label class="label">Password</label></td>
						<td><input type="password" size="30" th:field="*{password}" required minlength="6" maxlength="10"/></td>
					</tr>
			
				</table>
				<div><button type="submit" class="btn">Sign Up</button></div>
		</form>
	</div>
</body>
</html>